@import '/resources/styles/variables.scss';

.guest-page {
  width: 100%;
  padding: 5rem;

  @media screen and (max-width: $phone) {
    padding: 2rem;
    height: 100dvh;
    display: flex;
    align-items: center;

    div {
      width: 100%;
    }
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;

    img {
      width: 100%;
      max-width: 13rem;
    }
  }

  .guest-form {
    box-sizing: border-box;
    border-radius: $radius;
  }
}
