@import '/resources/styles/variables.scss';

$dialog-shadow: 0rem 0rem 0.2rem transparentize($icon, 0.55);

.work-disability-note-info-card {
  box-shadow: $dialog-shadow;
  border-radius: 1.5rem;
  padding: 1rem;
  padding-bottom: 1.75rem;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 2rem;

  &::after {
    content: '';
    width: 2rem;
    height: 2rem;
    background-color: white;
    position: absolute;
    right: 3rem;
    bottom: -1rem;
    transform: rotate(45deg);
    box-shadow: $dialog-shadow;
  }

  &::before {
    content: '';
    width: 50%;
    height: 1.75rem;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 2rem;
    bottom: 0rem;
    z-index: 2;
  }

  .work-disability-note-description {
    text-align: left;
    font-weight: normal;
    margin-top: 0.5rem;
    font-size: 0.85rem;
    padding-bottom: 1rem;
  }

  .work-disability-note-date {
    text-align: left;
    font-weight: normal;
    font-size: 0.7rem;
    box-sizing: border-box;
    margin-top: 1rem;

    .person {
      display: inline-block;
      margin-bottom: 0.25rem;
    }
  }

  .box-tools-footer {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end !important;
    gap: 0.5rem;
    border-top: $border-dashed;
    padding-top: 1rem !important;
    margin-top: 0.5rem !important;

    button {
      border-radius: $radius;
      width: 3rem;
      height: 3rem;
    }
  }
}