@import '/resources/styles/variables.scss';

.page-loader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: transparentize($color: #fff, $amount: 0.05);
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;

  img {
    width: 7rem;
    -webkit-animation: pulse 1.5s linear infinite;
    -moz-animation: pulse 1.5s linear infinite;
    animation: pulse 1.5s linear infinite;
  }

  .loader-text {
    text-align: center;
    color: $primary;
    margin-top: 1.25rem;
    font-weight: 500;
    font-size: 1rem;
  }
}

@keyframes pulse { 
  0% { 
      transform: scale(1); 
      opacity: 0.25; 
  }
  50% { 
      transform: scale(1.2); 
      opacity: 1; 
  }
  100% { 
      transform: scale(1); 
      opacity: 0.75; 
  } 
}