@import '/resources/styles/variables.scss';

.work-disability-info-card {
  border: $border;
  border-radius: $radius;
  padding: 1rem;
  position: relative;
  box-sizing: border-box;

  .insurance-coverage-type {
    text-align: left;
    font-weight: 500;
    font-size: 0.9rem;
  }

  .insurance-coverage-period {
    margin-top: 1rem;
    box-sizing: border-box;
    font-size: 0.7rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;

    &.empty-data {
      text-align: center;
      font-style: italic;
      border: $border-dashed;
      border-radius: $radius;
      padding: 1rem;
      box-sizing: border-box;
    }

    .period-applied {
      font-size: 0.8rem;
      border: $border-dashed;
      border-radius: $radius;
      padding: 1rem;
      box-sizing: border-box;
      
      .period-applied-date {
        display: grid;
        grid-template-columns: 2rem auto;
        gap: 0.5rem;
        align-items: center;
  
        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
  
          svg {
            width: 1.5rem;
          }
        }
      }
    }
  }

  .box-tools-footer {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    border-top: $border-dashed;
    padding-top: 1rem;
    margin-top: 1rem;
  }
}