@import '/resources/styles/variables.scss';

.file {
  box-sizing: border-box;
  position: relative;
  padding: 1.5rem;
  border-radius: $radius;
  transition: all 0.4s;
  border: $border;

  &:hover {
    transition: all 0.4s;
    background-color: transparentize($color: $gray, $amount: 0.5);
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;

    svg,
    img {
      height: 4rem;
    }
  }

  .type {
    font-weight: 500;
    text-align: center;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    font-weight: normal;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    overflow: hidden;
  }

  .file-info {
    margin-top: 0.5rem;
    font-size: 0.75rem;
    font-weight: normal;
    border-top: $border-dashed;
    padding-top: 1rem;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.75rem;
    font-size: 0.7rem;

    .opt-val {
      display: grid;
      grid-template-columns: 1fr;
      gap: 0.25rem;
    }

    .opt {
      font-weight: normal;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      display: -webkit-box;
      overflow: hidden;
    }

    .val {
      font-weight: 300;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      display: -webkit-box;
      overflow: hidden;
    }

    .status {
      font-weight: normal;
      font-size: 0.6rem;
      text-wrap: pretty;
      display: -webkit-box;
      overflow: hidden;
      line-clamp: 1;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      margin-top: 0.25rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-top: 0.5rem;

      .dot {
        width: 0.5rem;
        height: 0.5rem;
        margin-left: 0.5rem;
        border-radius: $radius;
        background-color: $gray;

        &.active {
          background-color: $success;
          box-shadow: 0rem 0rem 0.2rem $success;
        }
      }
    }
  }

  .btn-menu-tools {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
}