@import '/resources/styles/variables.scss';

.department-page {

  h1 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  h2 {
    font-size: 1rem;
    font-weight: 500;
  }

  .department-wrapper {
    min-height: 100dvh;
    box-sizing: border-box;

    .head-page {
      display: grid;
      grid-template-columns: 30rem auto 15rem 15rem;
      gap: 0.5rem;

      @media screen and (max-width: $tablet) {
        grid-template-columns: 1fr;
      }
    }

    .page-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.5rem;
      box-sizing: border-box;

      @media screen and (max-width: $tablet) {
        grid-template-columns: 1fr;
      }

      .container-wrapper {
        box-sizing: border-box;
        background-color: white;
        padding: 2rem;
        border-radius: $radius;
        min-height: 100dvh;

        @media screen and (max-width: $tablet) {
          min-height: initial;
        }

        .section-head {
          margin-bottom: 2rem;
          border-bottom: $border-dashed;
          padding-bottom: 2rem;
          display: grid;
          grid-template-columns: auto 15rem;

          @media screen and (max-width: $ipad) {
            grid-template-columns: 1fr;
          }
        }

        .subdepartment-wrapper {
          box-sizing: border-box;
          display: grid;
          grid-auto-flow: dense;
          grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
          gap: .5rem;

          @media screen and (max-width: $tablet) {
            grid-template-columns: 1fr;
          }
        }

        .department-card-wrapper {
          box-sizing: border-box;
          display: grid;
          grid-auto-flow: dense;
          grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
          gap: .5rem;

          @media screen and (max-width: $tablet) {
            grid-template-columns: 1fr;
          }
        }
      }
    }
  }
  
}
