@import '/resources/styles/variables.scss';

.attendance-info-card {

  .name {
    text-align: center;
    font-weight: 500;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    text-wrap: pretty;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

  .percentage {
    text-align: center;
    font-weight: 500;
    border-radius: calc($radius / 2);
    box-sizing: border-box;
    padding: 1rem;

    small {
      display: block;
      font-size: 0.75rem;
      font-weight: 350;
    }
  }

  .percentages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
  }

  .assist {
    font-size: 1.25rem;
    color: $success;
    margin-bottom: 0.75rem;
    background-color: transparentize($color: $success, $amount: 0.95);
  }

  .early-out {
    margin-top: .8rem;
    font-size: 1.25rem;
    color: $danger;
    margin-bottom: 0.75rem;
    background-color: transparentize($color: $success, $amount: 0.95);
  }
  
  .tolerance {
    background-color: transparentize($color: $info, $amount: 0.95);
    color: $info;
  }

  .delay {
    background-color: transparentize($color: $warning, $amount: 0.95);
    color: $warning;
  }

  .early-out {
    background-color: transparentize($color: $warning, $amount: 0.95);
    color: #f6a65bc7;
  }

  .fault {
    background-color: transparentize($color: $danger, $amount: 0.95);
    color: $danger;
  }
}
