@import '/resources/styles/variables.scss';

.dashboard-page {
  
  .dashboard-wrapper {
    min-height: 100dvh;
    box-sizing: border-box;

    .head-page {
      display: grid;
      grid-template-columns: 30rem auto 20rem 24.1rem 10rem;
      gap: 0.5rem;

      @media screen and (max-width: $desktop) {
        grid-template-columns: 30rem auto 20rem 24.1rem 10rem;
      }

      @media screen and (max-width: $ipad) {
        grid-template-columns: 1fr;
      }

      @media screen and (max-width: $phone) {
        grid-template-columns: 1fr;
      }

      .employee-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;

        .avatar {
          width: 4rem;
          height: 4rem;
          border-radius: $radius;
          background-color: $gray;
          box-sizing: border-box;
          display: flex;
          justify-content: center;
          align-items: center;

          svg {
            width: 2rem;
          }

          .employee-photo {
            width: 100%;
            object-fit: cover;
            height: 100%;
            border-radius: $radius;
          }
        }

        h1 {
          display: block;
          font-weight: 550;
          font-size: 1rem;

          small {
            display: block;
            margin-top: 0.25rem;
            font-size: 0.8rem;
            font-weight: normal;
          }

          .name-emp-code {
            font-size: 0.7rem;
            font-weight: normal;

            @media screen and (max-width: $ipad) {
              display: none;
            }
          }

          .emp-code {
            font-size: 0.7rem;

            @media screen and (min-width: $ipad) {
              display: none;
            }
          }
        }
      }

      &.sync {
        grid-template-columns: 30rem auto;
        padding: 1rem;
        border-radius: calc($radius / 2);

        h6 {
          margin: 0;
          font-weight: 500;
          font-size: 0.7rem;
          opacity: 0.75;
          display: flex;
          align-items: center;

          small {
            display: block;
            margin-top: 0.25rem;
          }
        }

        .subhead-tools {
          display: flex;
          gap: 0.5rem;
          justify-content: flex-end;
        }
      }
    }

    .general-graphs {
      display: grid;
      grid-template-columns: 20rem auto;
      gap: 0.5rem;
      box-sizing: border-box;
      min-height: 100vh;

      @media screen and (max-width: $desktop) {
        grid-template-columns: 20rem auto;
      }

      @media screen and (max-width: $ipad) {
        grid-template-columns: 18rem auto;
      }

      @media screen and (max-width: $phone) {
        grid-template-columns: 1fr;
      }

      h2 {
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
        margin-bottom: 2rem;

        @media screen and (max-width: $ipad) {
          font-size: 0.8rem;
        }
      }
      
      .indicators {
        border-top: $border-dashed;
        padding-top: 1rem;
        margin-top: 1rem;
      }

      .jumbotron {
        background-color: white;
        color: $text;

        .icon {
          height: 5rem;
          display: flex;
          width: 100%;
          justify-content: center;
          align-items: center;
          margin-bottom: 1rem;

          svg {
            width: 5rem;
          }
        }

        span {
          display: block;
          width: 100%;
          text-align: center;
        }
      }
    }

    .report-wrapper {

      .head {
        margin-bottom: 2rem;

        h2 {
          font-size: 1rem;
          font-weight: 550;
          text-align: left;
        }
      }

      .days-wrapper {
        box-sizing: border-box;
        display: grid;
        grid-auto-flow: dense;
        grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
        gap: .5rem;
      }
    }
  }
}
