@import '/resources/styles/variables.scss';

.dashboard-page {

  .dashboard-wrapper {
    min-height: 100dvh;
    box-sizing: border-box;

    .employee-attendance-head-page {
      display: grid;
      grid-template-columns: 30rem auto;
      gap: 0.5rem;
      margin-bottom: 0.5rem;

      @media screen and (max-width: $ipad) {
        grid-template-columns: 1fr;
      }

      .employee-search-filter {
        width: 100%;
      }

      .employee-period-filter {
        display: flex;
        gap: 0.5rem;
        justify-content: flex-end;
        align-items: center;

        .input-visualization-mode {
          width: auto;
        }

        @media screen and (max-width: $desktop) {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          align-items: center;
        }

        @media screen and (max-width: $ipad) {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
        }

        @media screen and (max-width: $phone) {
          flex-direction: column;
        }

        .period-input-box {
          width: 100%;
          max-width: 12rem;

          @media screen and (max-width: $ipad) {
            max-width: 100%;
          }
        }
      }
    }

    .employee-info-wrap {
      margin-bottom: 0.5rem;
      padding-bottom: 0.1rem;
    }

    .employee-attendance-head-tools {
      display: flex;
      justify-content: flex-end;
      gap: 0.5rem;
      padding: 1rem;
      border-radius: $radius;
      background-color: white;

      @media screen and (max-width: $phone) {
        display: block;
        margin-top: 1rem;
      }

      h6 {
        margin: 0;
        font-weight: 500;
        font-size: 0.7rem;
        opacity: 0.75;
        display: flex;
        align-items: center;

        small {
          display: block;
          margin-top: 0.25rem;
        }
      }

      &.excel-reports-wrapper {
        margin-top: 0.5rem;
      }
    }

    :deep(.sync) {
      .p-message-text {
        font-size: 0.7rem !important;
      }
    }

    .general-graphs {
      display: grid;
      grid-template-columns: 20rem auto;
      gap: 0.5rem;
      box-sizing: border-box;
      min-height: 100vh;
      margin-top: 0.5rem;

      @media screen and (max-width: $desktop) {
        grid-template-columns: 20rem auto;
      }

      @media screen and (max-width: $ipad) {
        grid-template-columns: 18rem auto;
      }

      @media screen and (max-width: $phone) {
        grid-template-columns: 1fr;
      }

      &.only-calendar {
        grid-template-columns: 1fr !important;
      }

      h2 {
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
        margin-bottom: 2rem;

        @media screen and (max-width: $ipad) {
          font-size: 0.8rem;
        }
      }

      .no-pie-chart {
        height: 20rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .circle {
          width: 15rem;
          height: 15rem;
          border-radius: 50%;
          background-color: $gray;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          font-size: 0.7rem;
          color: $icon;
          box-sizing: border-box;
          padding: 1.75rem;

          .icon {
            margin-bottom: 1rem;

            svg {
              width: 4rem;
            }
          }
        }
      }

      .indicators {
        border-top: $border-dashed;
        padding-top: 1rem;
        margin-top: 1rem;

        .indicators-extra-info {
          border-top: $border-dashed;
          text-align: left !important;
          padding-top: 1.5rem;
          padding-left: 1rem;
          padding-right: 1rem;
          box-sizing: border-box;

          .indicator-prop-val {
            display: grid;
            grid-template-columns: 3rem auto;
            gap: 0.5rem;

            .prop-val {
              height: 3rem;
              border-radius: $radius;
              box-sizing: border-box;
              background-color: transparentize($color: $danger, $amount: 0.95);
              color: $danger;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-bottom: 0.5rem;
            }

            .prop-label {
              height: 3rem;
              border-radius: $radius;
              box-sizing: border-box;
              display: flex;
              align-items: center;
            }
          }

          .indicator-prop-val-work {
            border-radius: $radius;
            box-sizing: border-box;
            color: $info;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 1rem;
            word-break: break-word;
            padding: 1rem;
            background-color: transparentize($color: $info, $amount: 0.95);
          }

        }
      }

      .jumbotron {
        background-color: white;
        color: $icon;

        .icon {
          height: 5rem;
          display: flex;
          width: 100%;
          justify-content: center;
          align-items: center;
          margin-bottom: 1rem;

          svg {
            width: 5rem;
          }
        }

        span {
          display: block;
          width: 100%;
          text-align: center;
        }
      }
    }

    .report-wrapper {

      .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
          font-size: 1rem;
          font-weight: 550;
          text-align: left;
        }
        .align-right {
          margin-left: auto;
        }
      }

      .days-wrapper {
        box-sizing: border-box;
        display: grid;
        grid-auto-flow: dense;
        grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
        gap: .5rem;

        @media screen and (max-width: $phone) {
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }
}
