@import '/resources/styles/variables.scss';
@import 'primeicons/primeicons.css';

.position-info-card {
  position: relative;
  border: $border;

  .position-name {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    font-size: .8rem;
    font-weight: 500;
    overflow: hidden;
  }

  .position-dependence {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    font-size: .7rem;
    font-weight: normal;
    overflow: hidden;
    margin-top: 0.5rem;
  }

  .box-tools-footer {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
    padding-top: 1rem;
  }
}
