@import '/resources/styles/variables.scss';

.employee-user-assigned-info-form {
  padding-top: 1rem;

  h1 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    border-bottom: $border-dashed;
    padding-bottom: 1.5rem;
    padding-top: 0.5rem;
  }

}