@import '/resources/styles/variables.scss';

.card-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  background-color: $white;
  border-radius: $radius;
  padding: 1rem;
  width: 100%;
}

.card-icon {
  box-sizing: border-box;
  border-radius: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparentize($color: $icon, $amount: 0.75);

  &.active {
    background-color: transparentize($color: $success, $amount: 0.75);
  }

  &.expired {
    background-color: transparentize($color: $danger, $amount: 0.75);
  }

  &.next-expire {
    background-color: transparentize($color: $warning, $amount: 0.75);
  }
}

.icon-placeholder {
  display: inline-block;
  box-sizing: border-box;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 1rem;
  background-color: $icon;

  &.active {
    background-color: $success;
  }

  &.expired {
    background-color: $danger;
  }

  &.next-expire {
    background-color: $warning;
  }

  svg {
    font-size: 2rem;
    color: #fff;
    width: 100%;
    height: 100%;
    transform: rotate(-45deg);
  }
}

.card-content {
  box-sizing: border-box;
  text-align: left;

  .percentage {
    font-size: 1.5rem;
  }
  
  .description {
    font-size: .8rem;
    text-align: left;
    margin-top: 0.25rem;
    font-weight: normal;
  }
  
  .details {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.25rem;
    font-size: 0.725rem;
  }
}

.expired {
  color: $danger;
  font-weight: normal;
}

.next-expire {
  color: $warning;
  font-weight: normal;
}

.active {
  color: $success;
  font-weight: normal;
}