@import '/resources/styles/variables.scss';
@import 'primeicons/primeicons.css';

.employee-records {
  position: relative;
  margin-top: 3rem;

  .inputs-group {
    box-sizing: border-box;
    border: $border-dashed;
    border-radius: $radius;
    padding: 1rem;
  }

  .employee-record-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }

  .property-wrapper {
    margin-bottom: 0.5rem;
    background-color: transparentize($color: $gray, $amount: 0.4);
    padding: 0.5rem;
    border-radius: $radius;
    display: grid;
    grid-template-columns: auto 15rem;
  }

  h2 {
    font-weight: 500;
    font-size: 0.85rem;
    color: $icon;
    padding-left: 0.5rem;
    display: flex;
    align-items: center;
  }

  .property-value-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    margin-bottom: 1.5rem;

    .property-value {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;

      .input {
        width: 100%;
      }
    }
  }

  .box-tools-footer {
    margin-top: 1rem;
  }
}
