@import '/resources/styles/variables.scss';


.holiday-info-form {
  margin-top: 2.25rem;
  position: relative;
  box-sizing: border-box;

  h2 {
    font-size: 0.9rem;
    font-weight: 500;
    display: block;
    border-bottom: solid $background 0.5rem;
    margin: -1.25rem;
    padding: 1.25rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }
  
  .icon-grid {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(5, 1fr);
    box-sizing: border-box;
    gap: 0.5rem;

    .icon-item {
      border: $border-dashed;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: calc($radius / 2);
      cursor: pointer;

      :deep(svg) {
        width: 2rem;
      }

      &.selected {
        background-color: transparentize($color: $info, $amount: 0.9);

        :deep(svg) {
          path {
            fill: $info;
          }
        }
      }
    }
  }

  .box-tools-footer {
    box-sizing: border-box;
    display: flex;
    grid-auto-flow: dense;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    margin-top: 1.5rem;
  }
}
