@import '/resources/styles/variables.scss';

.folder {
  box-sizing: border-box;
  position: relative;
  display: grid;
  grid-template-columns: 4rem auto;
  gap: 0.5rem;
  border: $border;
  border-radius: $radius;
  cursor: pointer;

  .icon {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $gray;
    min-height: 4rem;
    border-radius: $radius;

    svg {
      width: 2rem;
    }
  }

  .folder-name {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 1rem;
    padding-left: 0;
  }
}