@import '/resources/styles/variables.scss';

.aircraft-selected-info {
  width: 100%;
  height: auto;

  h2 {
    font-size: .8rem;
    font-weight: 550;
    margin-bottom: 1rem;
  }

  .aircraft-info {

    .aircraft-image {
      width: 100%;
      height: 13rem;
      position: relative;
      background-color: $gray;
      border-radius: $radius;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 0.5rem;

      @media screen and (max-width: $tablet) {
        height: 15rem;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: $radius;
      }

      svg {
        width: 5rem;
      }
    }

    .details {
      display: flex;
      flex-direction: column;
      gap: 0;
      border-radius: $radius;
      box-sizing: border-box;
      padding: 1rem;
      border: $border-dashed;

      .aircraft-details-info {
        padding: 0;
        margin: 0;
        font-size: .7rem;
        text-align: center;
        line-height: 1.15rem;
        display: flex;
        justify-content: space-between;
        opacity: 0.75;
        font-weight: normal;

        p {
          margin: 0;
          padding: 0;
        }
      }
    }
  }

  .detail-itinerary {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;

    .itinerary-info {
      display: flex;
      flex-direction: column;
      border: $border-dashed;
      border-radius: $radius;
      padding: 1rem;
      box-sizing: border-box;

      .initerary-airports {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.5rem;
      }

      .itinerary-details {
        display: grid;
        grid-template-columns: 2.25rem 1fr;
        gap: 0.5rem;
        font-size: 0.7rem;
        background-color: $gray;
        padding: 0.5rem;
        box-sizing: border-box;
        border-radius: calc($radius/2);

        &.departure {
          background-color: transparentize($color: $success, $amount: 0.5);

          .icon-itinerary {
            background-color: $success;
          }
        }

        &.arrive {
          background-color: transparentize($color: $info, $amount: 0.5);

          .icon-itinerary {
            background-color: $info;
          }
        }

        .icon-itinerary {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $gray;
          height: 2.25rem;
          border-radius: calc($radius/2);

          svg {
            width: 1rem;
          }
        }

        .airport-info-wrapper {
          display: flex;
          align-items: center;
          font-weight: normal;
        }
      }
    }
  }

  .info-cost {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-top: 0.5rem;
    border: $border-dashed;
    border-radius: $radius;
    padding: 1rem;
    box-sizing: border-box;

    .info-cost-details {
      display: flex;
      flex-direction: column;

      .info-cost-item {
        font-size: .7rem;
        font-weight: 500;
        font-family: $font;
        display: flex;
        justify-content: space-between;

        p {
          line-height: 0rem;
        }

        .color-text {
          color: $primary;
          font-family: $font;
          font-weight: bold;
        }
      }

    }
  }

  .btn-save {
    margin-top: 1rem;
  }
}
