@import '/resources/styles/variables.scss';

.vacation-period-card {
  border: $border;
  padding: 1rem;
  border-radius: $radius;

  .title {
    font-size: 0.85rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    border-bottom: $border-dashed;
    padding-bottom: 1rem;
  }

  .info {
    font-weight: normal;
    font-size: 0.8rem;
    display: grid;
    grid-template-columns: auto 5rem;
    gap: 0.5rem;
    margin-bottom: 0.5rem;

    .prop {
      height: 2rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .value {
      @extend .prop;
      border-radius: $radius;
      justify-content: center;
      background-color: $gray;
    }
  }
}
