@import '/resources/styles/variables.scss';

.reservation-info-card {

  .banner {
    background-color: $gray;
    border-radius: calc($radius / 2);
    height: 10rem;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: calc($radius / 2);
    }

    svg {
      width: 5rem;
      transform: rotate(-25deg);
    }
  }

  .info-item {
    font-size: 0.8rem;
    font-weight: normal;
    margin-bottom: 0.5rem;
    line-height: 1.25rem;

    span {
      display: block;
      font-size: 0.7rem;
    }

    .leg {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .airport {
        text-wrap: pretty;
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
      }

      .leg-datetime {
        display: flex;
        justify-content: flex-end;
        width: 100%;
      }
    }

    &.item-leg {
      min-height: 2rem;
      display: flex;
      align-items: center;

      div {
        width: 100%;
      }

      .title {
        font-weight: 500;
      }
    }

    &.prices {
      border: $border-dashed;
      padding: 0.5rem;
      border-radius: $radius;
      box-sizing: border-box;
      margin-top: 0.75rem;

      .price {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-weight: 500;

        span {
          display: flex;
          justify-content: flex-end;
          font-weight: normal;
        }
      }
    }
  }

  .customer {
    font-size: 0.85rem;
    font-weight: 500;
  }

  .aircraft-info {
    border-top: $border-dashed;
    border-bottom: $border-dashed;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    line-height: 1.25rem;

    .aircraft {
      margin-bottom: 0.5rem;

      .operator {
        display: block;
        font-size: 0.7rem;
      }
    }
  }

  .box-tools-footer {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }
}
