@import '/resources/styles/variables.scss';


.employee-shift-change-info-form {
  position: relative;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  h1 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    border-bottom: $border-dashed;
    padding-bottom: 1.5rem;
    padding-top: 0.5rem;
  }

  .selected-day {
    font-size: 0.9rem;
    border-radius: $radius;
    border: $border;
    padding: 1rem;
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
  }

  .box-tools-footer {
    box-sizing: border-box;
    display: flex;
    grid-auto-flow: dense;
    justify-content: center;
    grid-template-columns: 1fr;
    gap: .5rem;
    margin-top: 0.5rem;
  }


  .date-box-container {
    width: 100%;
    display: block;
  }

  .date-box {
    width: 100%;
    display: grid;
    grid-template-columns: auto 4rem;
    gap: 0.5rem;
  }

  .date-box-controller {
    width: 100%;
    display: grid;
    grid-template-columns: auto 4rem;
    gap: 0.5rem;
  }

  .p-autocomplete {
    width: 100%;

    input {
      width: 100%;
    }
  }
}
