@import '/resources/styles/variables.scss';

.documents-page {

  h2 {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .documents-exp-wrapper {
    display: grid;
    grid-template-columns: 30rem auto;
    gap: 0.5rem;
    margin-top: 0.5rem;

    @media screen and (max-width: $desktop) {
      grid-template-columns: 27rem auto;
    }

    @media screen and (max-width: $phone) {
      grid-template-columns: 1fr;
    }

    h3 {
      font-weight: 500;
      font-size: 0.9rem;
      border-bottom: $border;
      padding-bottom: 1.5rem;
    }

    .exp-type-wrapper {
      background-color: white;
      border-radius: $radius;
      box-sizing: border-box;
      padding: 1rem;
    }

    .documents-wrapper {
      background-color: white;
      border-radius: $radius;
      box-sizing: border-box;
      padding: 1rem;
      min-height: 75dvh;

      @media screen and (max-width: $phone) {
        min-height: auto;
      }

      .list-wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 0.5rem;

        @media screen and (max-width: $desktop) {
          grid-template-columns: repeat(3, 1fr);
        }

        @media screen and (max-width: $ipad) {
          grid-template-columns: repeat(1, 1fr);
        }

        @media screen and (max-width: $phone) {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}
