@import '/resources/styles/variables.scss';

body, html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  color: $text;
  font-family: $font;

  @media screen and (max-width: $desktop) {
    font-size: 0.8rem;
  }
}

.highcharts-credits {
  display: none !important;
}

.default-layout-wrapper {
  box-sizing: border-box;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  transition: all 0.4s;
  padding-left: 22rem;

  @media screen and (max-width: $desktop) {
    padding-left: 17rem;
  }

  @media screen and (max-width: $ipad) {
    padding-left: 0rem;
  }

  &.hide-aside {
    transition: all 0.4s;
    padding-left: 0rem;

    .aside-menu-wrapper {
      transition: all 0.4s;
      transform: translate(-110%);

      @media screen and (max-width: $ipad) {
        transform: translate(0%);
        width: 100%;
      }
    }
  }

  .aside-menu-wrapper {
    width: 22rem;
    position: relative;
    height: 100dvh;
    position: fixed;
    top: 0;
    z-index: 8;
    transition: all 0.4s;
    transform: translate(0%);

    @media screen and (max-width: $desktop) {
      width: 17rem;
    }

    @media screen and (max-width: $ipad) {
      transform: translate(-110%);
    }
  }

  .modules-wrapper {
    width: 100%;
  }

  .modules-content-wrepper {
    padding: 1rem;
    padding-top: 7rem;
    position: relative;
    background-color: $background;
    font-size: 0.9rem;

    @media screen and (max-width: $ipad) {
      font-size: 0.85rem;
    }

    @media screen and (max-width: $phone) {
      padding: 0.5rem;
      padding-top: 6.5rem;
    }
  }
}

.box {
  background-color: white;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: $radius;

  .box-tools-footer {
    margin-top: 0.75rem;
    border-top: $border-dashed;
    padding-top: 0.75rem;

    .box-button {
      padding: 1rem;
      box-sizing: border-box;
      border-radius: calc($radius / 2);
      border: none;
      background-color: white;
      color: $text;
      font-size: 0.75rem;
      cursor: pointer;
      transition: all 0.4s;
      display: flex;
      gap: 0.5rem;
      justify-content: center;
      align-items: center;
      border: $border;
      text-decoration: none;

      &:hover {
        transition: all 0.4s;
        background-color: transparentize($color: $gray, $amount: 0.5);
      }

      &.block {
        width: 100%;
      }

      svg {
        width: 1rem;
      }
    }
  }
}

.head-page {
  margin-bottom: 0.5rem;
}

// body {
//   background-color: #fff;
//   color: rgba(0,0,0,0.8);
// }
// .dark-mode body {
//   background-color: #091a28;
//   color: #ebf4f1;
// }
// .sepia-mode body {
//   background-color: #f1e7d0;
//   color: #433422;
// }
