@import '/resources/styles/variables.scss';

.user-page {

  h2 {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .user-wrapper {
    min-height: 100dvh;
    box-sizing: border-box;

    .head-page {
      display: grid;
      grid-template-columns: 35rem 20rem auto 15rem;
      gap: 0.5rem;

      @media screen and (max-width: $ipad) {
        grid-template-columns: 20rem 15rem auto 15rem;
      }

      @media screen and (max-width: $phone) {
        grid-template-columns: 1fr;
      }

      .buttons {
        display: flex;
        align-items: flex-end;
      }
    }
    .user-card-wrapper {
      box-sizing: border-box;
      display: grid;
      grid-auto-flow: dense;
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
      gap: .5rem;
      margin-top: 0.5rem;
    }

    .paginator {
      margin-top: 0.5rem;
      width: 100%;
    }
  }
}
