@import '/resources/styles/variables.scss';
@import 'primeicons/primeicons.css';

.employee-person-info-form {
  margin-top: 3rem;
  position: relative;

  .form-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }

  .inputs-group {
    box-sizing: border-box;
    border: $border-dashed;
    border-radius: $radius;
    padding: 1rem;
  }

  h2 {
    font-weight: 500;
    font-size: 0.9rem;
    margin-bottom: 1.75rem;
    margin-top: 1.75rem;
  }

  .age-box {
    display: grid;
    grid-template-columns: 2rem auto;
    gap: 0.5rem;
    background-color: transparentize($color: $info, $amount: 0.85);
    padding: 0.5rem;
    border-radius: calc($radius / 2);

    .icon {
      height: 2rem;
      background-color: $info;
      border-radius: calc($radius / 2);
      display : flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 1rem;
      }
    }

    span {
      display: flex;
      align-items: center;
      font-size: 0.75rem;
    }
  }

  .children-info {

    .head-page {
      display: grid;
      grid-template-columns: 15rem auto;
      gap: 0.5rem;
    }
  }

  .emergency-contact-info {

    .head-page {
      display: grid;
      grid-template-columns: 20rem auto;
      gap: 0.5rem;
    }
  }

  .box-tools-footer {
    box-sizing: border-box;
    display: flex;
    grid-auto-flow: dense;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    margin-top: 0.5rem;

    button {
      width: 100%;
    }
  }

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
  }

  .hire-date-box-container {
    width: 100%;
    display: block;
  }

  .hire-date-box {
    width: 100%;
    display: grid;
    grid-template-columns: auto 4rem;
    gap: 0.5rem;
  }

  .hire-date-box-controller {
    width: 100%;
    display: grid;
    grid-template-columns: auto 4rem;
    gap: 0.5rem;
  }

  .terminated-date-box-container {
    width: 100%;
    display: block;
  }

  .terminated-date-box {
    width: 100%;
    display: grid;
    grid-template-columns: auto 4rem;
    gap: 0.5rem;
  }

  .terminated-date-box-controller {
    width: 100%;
    display: grid;
    grid-template-columns: auto 4rem;
    gap: 0.5rem;
  }
  .employee-children-card-wrapper {
    box-sizing: border-box;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    margin-top: 0.5rem;
  }

  .employee-emergency-contact-card-wrapper {
    box-sizing: border-box;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    margin-top: 0.5rem;

    @media screen and (max-width: $phone) {
      grid-template-columns: 1fr;
    }
  }

  .empty {
    background-color: white;
    border: $border-dashed;
    color: $icon;
    padding: 1rem;
    height: 5rem;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $radius;
  }
}
