@import '/resources/styles/variables.scss';

.dialog-confirm-delete {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background-color: transparentize($color: #000000, $amount: 0.75);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .content-wrapper {
    background-color: white;
    padding: 2rem;
    box-sizing: border-box;
    border-radius: $radius;
    width: 90%;
    max-width: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .content {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
    }

    .icon-wrapper {
      width: 6rem;
      height: 6rem;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparentize($color: $info, $amount: 0.75);
      box-sizing: border-box;
      text-align: center;

      .icon {
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparentize($color: $info, $amount: 0.25);
        box-sizing: border-box;

        svg {
          width: 2rem;
        }
      }
    }

    .message-success {
      display: block;
      text-align: center;
      margin-top: 2rem;
      font-weight: 500;
      color: $success;
      margin-bottom: 1rem;
    }

    .title {
      display: block;
      text-align: center;
      margin-top: 1rem;
      font-weight: 500;
    }

    .description {
      margin-top: 1rem;
      display: block;


    }



    .tools {
      margin-top: 1rem;
      display: flex;
      gap: 0.5rem;
      width: 100%;
    }
  }

  table {
    width: 100%;
    border-collapse: separate;
    /* Asegura que los bordes se dibujen correctamente */
    border-spacing: 0;
    /* Evita espacios entre bordes */
    font-size: 0.7rem;
  }

  th,
  td {
    text-align: left;
    padding: 8px;
    border: 0.6px solid black;
  }

  th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .wide-column {
    width: 25%;
  }

  .table-container {
    max-height: 200px;
    /* Altura máxima del área de scroll */
    overflow-y: auto;
    /* Scroll vertical */
    //border: 1px solid #ccc; /* Bordes para el contenedor */
    position: relative;
    /* Necesario para sticky */
  }
}