@import '/resources/styles/colors.scss';

:deep(.p-button) {

  &.btn-block {
    width: 100%;
    display: block;
  }

  &.btn-gray {
    background-color: $gray !important;
    border-color: $gray !important;
  }

  .btn-excel {
    background-color: #12763d !important;
    border-color: #12763d !important;

    svg {
      width: 1.25rem;
    }
  }
}

:deep(.p-button-label) {
  font-weight: normal;
  font-size: 0.9rem;
}
