@import '/resources/styles/colors.scss';

.btn {
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  border: 1px solid #e3ebf6;
  background-color: white;
  color: $icon;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.4s;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-sizing: border-box;
  height: 45.5px;
  box-shadow: $shadow;

  @media screen and (max-width: $phone) {
    height: 36.69px;
  }
  
  svg {
    width: 1.25rem;
  }

  &.btn-block {
    width: 100%;
  }
}

.btn-primary {
  background-color: $primary !important;
  border-color: $primary !important;
  color: white !important;
}

.p-selectbutton.p-button-group {
  .p-button {
    height: 45.5px;

    @media screen and (max-width: $phone) {
      height: 36.69px;
    }
  }
}

:deep(.p-button) {

  &.btn-block {
    width: 100%;
  }

  &.btn-danger {
    background-color: $danger !important;
    border-color: $danger !important;
    color: white !important;
  }

  &.btn-gray {
    background-color: $gray !important;
    border-color: $gray !important;
  }

  &.btn-white-outline {
    background-color: $white !important;
    border-color: $gray !important;
  }
}

:deep(.p-button-label) {
  font-weight: normal;
  font-size: 0.9rem;
}

.btn-excel {
  background-color: #12763d !important;
  border-color: #12763d !important;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-top: 1rem;

  svg {
    width: 1.25rem;
  }
}

.btn-sync {
  background-color: $primary !important;
  border-color: $primary !important;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-top: 1rem;

  svg {
    width: 1.25rem;
  }
  &:focus {
    background-color: $primary !important;
    border-color: $primary !important;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px $primary, 0 1px 2px 0 rgb(0, 0, 0) !important;
  }
}

.p-sidebar-header {
  border-bottom: solid 0.5em $background;
}

.p-sidebar-header-content {
  opacity: 0;
}

.p-sidebar .p-sidebar-header .p-sidebar-close, .p-sidebar .p-sidebar-header .p-sidebar-icon {
  @extend .btn;
  background-color: $icon !important;
  width: 3rem !important;
  height: 3rem !important;
  border-radius: $radius !important;

  svg {
    path {
      fill: white;
    }
  }
}

button {

  &:disabled {
    cursor: no-drop !important;
    opacity: 0.25;
  }
}