$primary: #093057;
$primaryDark: #05223f;
$secondary: #246fd7;
$accent: #303e67;

$success: #33D4AD;
$info: #3CB4E5;
$warning: #FF993A;
$danger: #d45633;

$black: #000;
$white: #fff;
$text: #303e67;
$silver: #bbb;
$gray: #f1f5f9;
$icon: #88a4bf;

$border-color: #e3ebf6;

$background: #f5f5fa;
$footer: #E9E9E9;