:deep(.p-inputtext) {
  width: 100%;
}

.graph-label-attendance-monitor-period {
  font-size: 0.75rem;
  
  &.active {
    fill: $info;
    font-weight: 500;
  }
}

:deep(.p-dropdown) {
  width: 100%;
}

:deep(.p-inputotp-input) {
  width: 3rem;
}

:deep(.p-password) {
  width: 100%;
}

:deep(.p-input-icon) {
  width: 1rem;
}

.form-container {

  .input-box {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.input-box {
  display: grid;
  grid-template-columns: 1fr;

  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 450;
    font-size: 0.85rem;
    width: 100%;

    small {
      display: block;
      width: 100%;
      font-size: 0.75rem;
      margin-top: 1rem;
    }
  }
}
