@import '/resources/styles/colors.scss';

$font: 'Inter', sans-serif;
$shadow: 0.1rem 0.1rem 0.2rem $gray;
$border: 1px solid $border-color;
$border-dashed: 1px dashed $border-color;
$radius: 0.75rem;

@import '/resources/styles/breakpoints.scss';
@import '/resources/styles/form.scss';
@import '/resources/styles/buttons.scss';

.capitalize {
  text-transform: capitalize !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.text-center {
  text-align: center !important;
}

.jumbotron {
  background-color: #f8f9fa;
  padding: 2rem;
  min-height: 10rem;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $radius;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 100%;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 0.85rem;
  text-align: center;
  border-radius: $radius;
  background-color: transparentize($color: $gray, $amount: 0.5);
  
  .icon {
      
    svg {
      width: 4rem;
    }
  }

  .label {
    color: $icon;
    margin-top: 0.75rem;
    font-weight: 500;
  }
}
