@import '/resources/styles/colors.scss';

$font: 'Inter', sans-serif;
$shadow: 0.1rem 0.1rem 0.2rem $gray;
$border: 1px solid $border-color;
$border-dashed: 1px dashed $border-color;
$radius: 0.75rem;

@import '/resources/styles/breakpoints.scss';
@import '/resources/styles/form.scss';
@import '/resources/styles/buttons.scss';