@import '/resources/styles/variables.scss';

.employee-emergency-contact-form {
  position: relative;
  padding-bottom: 1.5rem;

  .form-header {
    margin-bottom: 1.5rem;

    h2 {
      font-size: 0.9rem;
      font-weight: 500;
      margin-bottom: 1.75rem;
      margin-top: 1.75rem;
    }
  }

  .form-container {
    .inputs-group {
      box-sizing: border-box;
      border: $border-dashed;
      border-radius: $radius;
      padding: 1rem;
      margin-bottom: 1rem;
    }

    .group-3 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;

      @media screen and (max-width: $ipad) {
        grid-template-columns: 1fr;
      }
    }

    .input-box {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      label {
        font-weight: 500;
        color: $text;
        font-size: 0.8rem;
      }

      .p-error {
        color: $danger;
        font-size: 0.7rem;
        margin-top: 0.25rem;
      }
    }
  }

  .form-actions {
    box-sizing: border-box;
    display: flex;
    grid-auto-flow: dense;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    margin-top: 0.5rem;

    @media screen and (max-width: $phone) {
      grid-template-columns: 1fr;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
