@import '/resources/styles/variables.scss';

.department-info-card {
  border: $border;

  .department-name {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    font-size: .8rem;
    font-weight: 500;
    overflow: hidden;
  }

  .line {
    border-top: $border-dashed;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .department-alias {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    font-size: .7rem;
    font-weight: normal;
    overflow: hidden;
    margin-top: 0.5rem;
  }


  .department-rotation-index {
    font-size: .5rem;
    font-weight: normal;
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.25rem;
  }
  .property-value {
    text-align: right;
    margin-left: auto;
}

  .box-tools-footer {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
    padding-top: 1rem;
  }
}