@import '/resources/styles/variables.scss';


.itinerary-info-form {
  position: relative;
  border-radius: $radius;
  border: $border-dashed;
  padding: 1rem;
  box-sizing: border-box;

  h2 {
    font-size: 0.8rem;
    font-weight: 500;
    border-bottom: $border-dashed;
    padding-bottom: 1rem;
  }

  .itinerary-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.75rem;

    .legs-form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0.5rem;

      @media screen and (max-width: $tablet) {
        grid-template-columns: 1fr;
      }

      .leg-form {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5rem;

        @media screen and (max-width: $tablet) {
          grid-template-columns: 1fr;
        }
      }
    }

    .travel-info-form {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 0.5rem;
    }

    .buttons-leg {
      display: flex;
      gap: 0.5rem;
      justify-content: flex-end;
    }
  }

  .input-box {

    &.required {

      .input-label {

        &::before {
          content: "*";
          color: $danger;
          margin-right: 0.3rem;
        }
      }
    }
  }
}

/* Ocultar el ícono del calendario en Safari/macOS */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
  /* A veces es necesario para Safari */
}
