@import '/resources/styles/variables.scss';
@import 'primeicons/primeicons.css';
@import '/resources/styles/colors.scss';
.airports-page {
  padding: 1rem;

  h2 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #093057; 
  }

  .airport-wrapper {
    box-sizing: border-box;

    .box.head-page {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 0.5rem;
      margin-bottom: 1rem;

      .input-box {
        display: flex;
        align-items: center;

        label {
          margin-right: 0.5rem;
          font-weight: 500;
          color: black; // Usa el color del texto definido en variables.scss
        }
        Button {
          margin-left: 0.5rem;
        }
      }

      @media screen and (max-width: $desktop) {
        grid-template-columns: 1fr auto;
      }

      @media screen and (max-width: $tablet) {
        grid-template-columns: 1fr auto;
      }

      @media screen and (max-width: $phone) {
        grid-template-columns: 1fr;
      }
    }

    .airport-card-wrapper {
      display: grid;
      grid-auto-flow: dense;
      grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
      gap: 1rem;
      margin-top: 1rem;

      // Ajuste en la visualización de tarjetas
      @media screen and (max-width: $tablet) {
        grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
      }

      @media screen and (max-width: $phone) {
        grid-template-columns: 1fr;
      }
    }

    .paginator {
      margin-top: 1rem;
      width: 100%;
    }

    .airport-form-sidebar {
      width: 22rem !important;
      max-width: 50rem !important;

      @media screen and (max-width: $sm) {
        width: 100% !important;
      }
    }
  }

  .confirmation-content {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: black; // Usa el color del texto definido en variables.scss

    i {
      color: red; // Usa el color de advertencia definido en variables.scss
    }

    span {
      margin-left: 0.5rem;
    }
  }

  .box-btn {
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 0.375rem;
    border: none;
    background-color: white;
    color: #303e67;
    font-size: 0.7rem;
    cursor: pointer;
    transition: all 0.4s;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    border: 1px solid #e3ebf6;
    text-decoration: none;
  }

  .btn-red {
    color: red;
  }
}
