@import '/resources/styles/variables.scss';

.employee-contract-info-card {
  border: $border;
  border-radius: $radius;
  padding: 1rem;
  position: relative;
  box-sizing: border-box;

  .employee-contract-type {
    text-align: left;
    font-weight: 500;
    font-size: 0.9rem;
  }

  .department {
    text-align: left;
    font-weight: normal;
    font-size: 0.8rem;
    margin-top: 0.25rem;
  }

  .position {
    text-align: left;
    font-weight: normal;
    font-size: 0.8rem;
    margin-top: 0.25rem;
  }

  .business-unit {
    text-align: left;
    font-weight: normal;
    font-size: 0.8rem;
    margin-top: 0.25rem;
  }

  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }



  .employee-contract-uuid {
    text-align: left;
    font-weight: normal;
    font-size: 0.8rem;
    margin-top: 0.25rem;
  }

  .employee-contract-folio {
    text-align: left;
    font-weight: normal;
    font-size: 0.8rem;
    margin-top: 0.25rem;
  }

  .employee-contract-status {
    text-align: left;
    font-weight: normal;
    font-size: 0.8rem;
    margin-top: 0.25rem;
  }

  .employee-contract-type {
    text-align: left;
    font-weight: normal;
    font-size: 0.9rem;
    margin-top: 0.25rem;
    margin-bottom: 0.50rem;
  }

  .employee-contract-salary {
    text-align: left;
    font-weight: normal;
    font-size: 0.8rem;
    margin-top: 0.25rem;
  }

  .attached-file {
    color: $icon;
    font-size: 0.9rem;
    display: block;
    display: grid;
    grid-template-columns: 2rem auto;
    gap: 0.5rem;
    align-items: center;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    border: $border;
    border-radius: calc($radius / 2);

    &.active {
      color: $info;
      cursor: pointer;
    }

    .icon {
      background-color: $gray;
      border-radius: calc($radius / 2);
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 1rem;
      }
    }
  }

  .period-applied {
    font-size: 0.8rem;
    border: $border-dashed;
    border-radius: $radius;
    padding: 1rem;
    box-sizing: border-box;

    .period-applied-date {
      display: grid;
      grid-template-columns: 2rem auto;
      gap: 0.5rem;
      align-items: center;

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          width: 1.5rem;
        }
      }
    }
  }

  .box-tools-footer {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    border-top: $border-dashed;
    padding-top: 0.75rem !important;
    margin-top: 0.75rem !important;
  }
}