@import '/resources/styles/variables.scss';


.employee-shift-vacations {
  position: relative;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  h1 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    border-bottom: $border-dashed;
    padding-bottom: 1.5rem;
  }

  .head {
    display: grid;
    grid-template-columns: 15rem auto;
    gap: 0.5rem;
    margin-bottom: 1.5rem;

    @media screen and (max-width: $ipad) {
      grid-template-columns: 1fr;
    }
  }

  .vacations-wrapper {

    .vacation-control {

      .read-date {
        display: flex;
        gap: 0.25rem;
      }

      .form-date {
        display: flex;
        gap: 0.25rem;
      }
    }
  }
  .flex-container {
    display: flex; /* Activa Flexbox */
    gap: 1rem; /* Espaciado entre los divs */
    align-items: center; /* Alinea verticalmente */
  }

  /* Opcional: Ajustar estilos de los divs si es necesario */
  .input-box {
    flex: 1; /* Hace que ambos divs ocupen el mismo espacio */
    min-width: 200px; /* Establece un ancho mínimo */
  }
  /* Primer DIV: más grande */
.large-box {
  flex: 2; /* Ocupa más espacio proporcionalmente */
  min-width: 200px;
}

/* Segundo DIV: más pequeño */
.small-box {
  margin-top: .5rem;
  flex: 1; /* Ocupa menos espacio proporcionalmente */
  min-width: 150px; /* Ancho mínimo */
  box-sizing: border-box;
}

  .checkbox-item {
    display: flex;
    align-items: center; /* Alinea el texto y el checkbox verticalmente */
  }
  .checkbox-item label {
    margin-top: 0.5rem;
    margin-left: 0.5rem; /* Espacio entre el checkbox y el texto */
  }
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  min-height: 2.2rem;

  /* Espacio entre el ícono y el texto */
  padding: 0.5rem 0.9rem;
  font-size: 0.875rem;
  line-height: 1;
  border-radius: 0.5rem;

  svg {
    width: 1.1rem;
    /* Aumenta el tamaño del ícono */
    height: 1.1rem;
    vertical-align: middle;
  }
}

.btn-signature {
  background-color: #4CAF50 !important;
  border-color: #4CAF50 !important;
  color: white !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  gap: 0.4rem;
  border-radius: 0.5rem;

  svg {
    width: 1.2rem;
    /* Ícono más grande y centrado */
    height: 1.2rem;
    fill: white !important;
  }

  .btn-text {
    margin-left: 0;
    font-size: 0.9rem;
    line-height: 1;
    font-weight: 500;
  }

  &:hover {
    background-color: #45a049 !important;
    border-color: #45a049 !important;
  }
}
}
