@import '/resources/styles/variables.scss';


.employee-shift-vacations {
  position: relative;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  h1 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    border-bottom: $border-dashed;
    padding-bottom: 1.5rem;
  }

  .head {
    display: grid;
    grid-template-columns: 15rem auto;
    gap: 0.5rem;
    margin-bottom: 1.5rem;

    @media screen and (max-width: $ipad) {
      grid-template-columns: 1fr;
    }
  }

  .vacations-wrapper {

    .vacation-control {

      .read-date {
        display: grid;
        grid-template-columns: auto 4rem 4rem;
        gap: 0.25rem;
      }

      .form-date {
        display: grid;
        grid-template-columns: auto 4rem 4rem;
        gap: 0.25rem;
      }
    }
  }
  .flex-container {
    display: flex; /* Activa Flexbox */
    gap: 1rem; /* Espaciado entre los divs */
    align-items: center; /* Alinea verticalmente */
  }
  
  /* Opcional: Ajustar estilos de los divs si es necesario */
  .input-box {
    flex: 1; /* Hace que ambos divs ocupen el mismo espacio */
    min-width: 200px; /* Establece un ancho mínimo */
  }
  /* Primer DIV: más grande */
.large-box {
  flex: 2; /* Ocupa más espacio proporcionalmente */
  min-width: 200px;
}

/* Segundo DIV: más pequeño */
.small-box {
  margin-top: .5rem;
  flex: 1; /* Ocupa menos espacio proporcionalmente */
  min-width: 150px; /* Ancho mínimo */
  box-sizing: border-box;
}

  .checkbox-item {
    display: flex;
    align-items: center; /* Alinea el texto y el checkbox verticalmente */
  }
  .checkbox-item label {
    margin-top: 0.5rem;
    margin-left: 0.5rem; /* Espacio entre el checkbox y el texto */
  }
}
