@import '/resources/styles/variables.scss';

.employee-work-disabilities {
  position: relative;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  h1 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    border-bottom: $border-dashed;
    padding-bottom: 1.5rem;
    padding-top: 0.5rem;
  }

  .head {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    margin-bottom: 1.5rem;

    @media screen and (max-width: $ipad) {
      grid-template-columns: 1fr;
    }
  }

  .work-disabilities-wrapper {
    box-sizing: border-box;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: 1fr;
    gap: .5rem;

    .head-page {
      display: grid;
      grid-template-columns: 15rem auto;
      gap: 0.5rem;
      margin-bottom: 1.5rem;

      @media screen and (max-width: $ipad) {
        grid-template-columns: 1fr;
      }
    }

    .empty-data {
      text-align: center;
      background-color: $gray;
      padding: 2rem;
      color: $icon;
      border-radius: $radius;
      font-size: 0.8rem;
      height: 10rem;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}