@import '/resources/styles/variables.scss';

.departments-control-wrapper {
  display: grid;
  grid-template-columns: 45rem auto;
  gap: 0.5rem;

  :deep(.p-treenode-label) {
    width: 100%;
  }

  .tree-nodes {

    .tree-node {
      display: grid;
      grid-template-columns: auto 10rem;
      width: 100%;
      gap: 0.5rem;

      .tree-node-name {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        text-wrap: pretty;
        font-size: 0.8rem;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        padding-left: 1rem;
        border-radius: $radius;

        &.level {
          background-color: #9ac7bf;
          color: #314340;
        }

        &.levelD1 {
          background-color: #ffd966;
          color: #5c4b16;
        }

        &.levelG1 {
          background-color: #ddebff;
          color: #364b6a;
        }

        &.levelJ1 {
          background-color: #ccff99;
          color: #465f2e;
        }

        &.levelP1 {
          background-color: #ffce9f;
          color: #7f4d1d;
        }

        &.levelP2 {
          background-color: #cc99ff;
          color: #482966;
        }

        &.levelP3 {
          background-color: #ffff99;
          color: #4d4d13;
        }

        &.levelP4 {
          background-color: #e6e6e6;
          color: #666666;
        }
      }

      .tree-node-tools {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        gap: 0.5rem;
      }
    }
  }
}

.departments-chart-page {

  .head-orgchart-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .buttons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .chart-wrapper {
    width: calc(var(--screen-width) - 50rem) !important;
    min-height: 70dvh;
    overflow: auto;
    margin-top: 0.5rem;
  }

  .node-card {
    box-sizing: border-box;
    cursor: pointer;

    .node-card-item {
      display: flex;
      flex-flow: column;
      gap: 0.5rem;
      width: 15rem;
      box-sizing: border-box;

      .node-card-item-name {
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: calc($radius / 2);
        box-sizing: border-box;
      }
    }
  }

  :deep(.p-organizationchart-node-content) {
    padding: 1rem;
    box-sizing: border-box;
    border-radius: $radius;
    font-size: 0.75rem;
    font-weight: 500;

    &.level {
      background-color: #9ac7bf;
      color: #314340;
    }

    &.levelD1 {
      background-color: #ffd966;
      color: #5c4b16;
    }

    &.levelG1 {
      background-color: #ddebff;
      color: #364b6a;
    }

    &.levelJ1 {
      background-color: #ccff99;
      color: #465f2e;
    }

    &.levelP1 {
      background-color: #ffce9f;
      color: #7f4d1d;
    }

    &.levelP2 {
      background-color: #cc99ff;
      color: #482966;
    }

    &.levelP3 {
      background-color: #ffff99;
      color: #4d4d13;
    }

    &.levelP4 {
      background-color: #e6e6e6;
      color: #666666;
    }
  }
}
