@import '/resources/styles/variables.scss';


.shift-info-form {
  margin-top: 2.25rem;
  position: relative;

  .input-box {
    .password-box {
      box-sizing: border-box;
      display: grid;
      grid-template-columns: 1fr 10rem;
      gap: .5rem;
      margin-top: 0.5rem;
      @media screen and (max-width: $sm) {
        grid-template-columns: 1fr 8rem;
      }
    }
  }

  .box-tools-footer {
    box-sizing: border-box;
    display: flex;
    grid-auto-flow: dense;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    margin-top: 0.5rem;
    button {
      width: 100%;
    }
  }
}
