@import '/resources/styles/variables.scss';
@import 'primeicons/primeicons.css';

.department-page {
  h2 {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 2px;
    margin-bottom: 1px;
  }

  .department-wrapper {
    min-height: 100dvh;
    box-sizing: border-box;

    .head-page {
      display: grid;
      grid-template-columns: 17.7rem auto 7rem 3.7rem;
      gap: 0.5rem;

      .btn-box {
        width: 100%;
        box-sizing: border-box;
      }

      @media screen and (max-width: $desktop) {
        grid-template-columns: 17.7rem auto 7rem 3.7rem;
      }

      @media screen and (max-width: $tablet) {
        grid-template-columns: 17.7rem auto 7rem 3.7rem;
      }

      @media screen and (max-width: $phone) {
        grid-template-columns: 1fr;
        .btn-box {
          width:75px;
        }
        .btn-sync {
          width: 50px;
        }
      }
    }

    .department-card-wrapper {
      box-sizing: border-box;
      display: grid;
      grid-auto-flow: dense;
      grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
      gap: .5rem;
      margin-top: 0.5rem;
    }

    .paginator {
      margin-top: 0.5rem;
      width: 100%;
    }
  }
  
}

.side {
  background-color: blue !important;
}
