@import '/resources/styles/variables.scss';
@import 'primeicons/primeicons.css';

.employee-shift-exceptions {
  margin-top: 2.25rem;
  position: relative;

  .shift-exception-wrapper {
    box-sizing: border-box;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: .5rem;
    margin-top: 0.5rem;

    .head-page {
      display: grid;
      grid-template-columns: 40rem 20rem 10rem;
      gap: 0.5rem;

      @media screen and (max-width: $desktop) {
        grid-template-columns: auto auto auto;
      }

      @media screen and (max-width: $tablet) {
        grid-template-columns: 1fr;
      }

      @media screen and (max-width: $phone) {
        grid-template-columns: 1fr;
      }

      .btn-add {
        width: fit-content;
      }
    }
  }

  .box-tools-footer {
    box-sizing: border-box;
    display: flex;
    grid-auto-flow: dense;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    margin-top: 0.5rem;
    button {
      width: 100%;
    }
  }
}